%section.section.m-t_3{role: "region", "aria-label" => ""}
  .ctn
    .p-t_2
      = haml "/views/common/_breadcrumbs".to_sym
      .m-b_4
        = haml "/views/common/_headline".to_sym
      .grid
        %aside.grid-i.__grid-3
          = haml "/views/common/catalog/_filter".to_sym
        %section.grid-i.__grid-9
          .m-b_3
            = haml "/views/common/banners/_catalog".to_sym
          .m-b_3
            .grid
              .grid-i.__grid-5.va-m
                .p-l_2
                  %span.tx.__s.fw-600 Сортировать по:
                  %ul.sorting
                    %li.sorting_i
                      %a.a.__pseudo.__inner.sorting_i_a.__current{href: "#"}
                        %span Рейтингу
                    %li.sorting_i
                      %a.a.__pseudo.__inner.sorting_i_a{href: "#"} 
                        %span Цене
              .grid-i.__grid-4.va-m
                .tx.__right
                  %span.tx.__xxs Min
                  .range{data: {min: 0, max: 100000, step: 1000}}
                    .range_amount.__min.tx.__xxs
                    .range_amount.__max.tx.__xxs
                    .range_slider
                    %input.range_input.__min{type: "hidden", value: "0", name: "min"}
                    %input.range_input.__max{type: "hidden", value: "0", name: "max"}
                  %span.tx.__xxs Max
          .layer.p-t_2.p-r_2.p-b_2.p-l_2
            #feed
              = haml "/views/common/catalog/_feed".to_sym
            = haml "/views/common/catalog/_load_more".to_sym