%section.section.m-t_3{role: "region", "aria-label" => ""}
  .ctn
    .p-t_2
      = haml "/views/common/_breadcrumbs".to_sym
      .m-b_4
        = haml "/views/common/_headline".to_sym
      .grid
        %aside.grid-i.__grid-3
          = haml "/views/common/catalog/_filter".to_sym
        %section.grid-i.__grid-9
          .m-b_3
            = haml "/views/common/banners/_catalog".to_sym
          .m-b_3
            = haml "/views/common/catalog/_sorting".to_sym
          .layer.p-t_2.p-r_2.p-b_2.p-l_2
            .m-b_2
              = haml "/views/common/catalog/_tags".to_sym
            #feed
              = haml "/views/common/catalog/_feed".to_sym
            = haml "/views/common/catalog/_load_more".to_sym